#followerMenuOptionsDeployed{
  display: flex;
  flex-direction: row-reverse;
  width: 0px;
  position:fixed;
  background: #6a737b;
  top:45.2%;
  height: 82px;
  opacity: 0;
  overflow: hidden;
  z-index: 14;
  transition: all linear .3s;
  #followerMenuArrow{
    position: absolute;
    margin-top:38px;
    opacity:0;
    z-index: -1;
    color: #f2f2f2;
    font-size: 2rem;
    transition: all linear .3s;
  }
  div{
  }
}
//No se usa
.arrowLeft{
  left:0px;
}
.arrowRight{
  right:0px !important;
}
#borderFollowerMenu{
  position: absolute;
  height: 9px;
  width: 0;
  top:57%;
  z-index: 2;
  opacity: 0;
  background-color: #c1d82f;
  transition: all linear .3s;
}
ul#followerMenuOptions{
  display: flex;
  list-style: none;
  margin:10px 0 0 0;
  width: 500px;
  // Efectos de las optiones tel menu
  li{
    padding: 8px;
    margin: 1px;
    color:#f2f2f2;
    border-bottom: 6px solid fadeout(white, 100%);
    transition: all .3s linear;
    font-size: 16px;
  }
  li:hover{
    border-bottom: 6px solid darken(white, 10%);
    transition: all .3s linear;
  }
}
.activatetrue{
  border-bottom: 6px solid darken(white, 10%) !important;
}
.leftmenu{
  left:-10px;
  transition: all linear .3s;
}
.rightmenu{
  right:-10px;
  transition: all linear .3s;
}

#followerMenuButton-left, #followerMenuButton-right{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border: solid 7px #c1d82f;
  z-index: 15;
  border-radius: 50%;
  background: #FF9985;
  color: #e6e6e6;
  transition: all .3s linear;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}

#followerMenuButton-left{
  left:-115px;
  box-shadow:1px 1px 8px 0px grey;
}

#followerMenuButton-right{
  right:-115px;
}
//Login button left
#search-menu-left{
  position: fixed;
  top:52%;
  left: -25px;
  font-size: 1.7rem;
  color: fadeout(#FF9985, 60%);
  transition: all .3s linear;
  &:hover{
    font-size: 1.8rem;
    color: fadeout(#FF9985, 0%);
    transform: rotateZ(20deg);
    text-shadow: 1px 1px 4px fadeout(darken(white, 70%), 20%);
    transition: all .1s linear !important;
  }
}
#login-menu-left{
  position: fixed;
  top:45%;
  left: -25px;
  font-size: 1.7rem;
  color: fadeout(#FF9985, 60%);
  transition: all .3s linear;
  &:hover{
    color: fadeout(#FF9985, 0%);
    text-shadow: 1px 1px 4px fadeout(darken(white, 70%), 20%);
    font-size: 1.8rem;
    transition: all .1s linear !important;
  }
}
//Login button right
#search-menu-right{
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top:52%;
  right: -25px;
  font-size: 1.7rem;
  color: fadeout(#FF9985, 60%);
  transition: all .3s linear;
  &:hover{
    font-size: 1.8rem;
    color: fadeout(#FF9985, 0%);
    transform: rotateZ(20deg);
    text-shadow: 1px 1px 4px fadeout(darken(white, 70%), 20%);
    transition: all .1s linear !important;
  }
}
#login-menu-right{
  position: fixed;
  top:45%;
  margin-right: 5px;
  right: -25px;
  font-size: 1.7rem;
  color: fadeout(#FF9985, 60%);
  transition: all .3s linear;
  &:hover{
    color: fadeout(#FF9985, 0%);
    text-shadow: 1px 1px 4px fadeout(darken(white, 70%), 20%);
    font-size: 1.8rem;
    transition: all .1s linear !important;
  }
}

//lado del menu desplegado
#followerMenuOptionsDeployed.left{
  border-top-left-radius: 10px;

}
#followerMenuOptionsDeployed.right{
  border-top-right-radius: 10px;
}
.left{
  justify-content: flex-start;
  left:80px;
  visibility: visible !important;
  box-shadow:3px 2px 10px 0px grey;

  ul#followerMenuOptions{
    position: absolute;
    left: -10px;
  }
}
.right{
  justify-content: flex-end;
  right: 80px;
  visibility: visible !important;
  box-shadow:-3px 2px 10px 0px grey;
  ul#followerMenuOptions{
    position: absolute;
    flex-direction: row-reverse;
    align-items: flex-start;
    right: 30px;
  }
}
#secondMenuContainer{
  position: absolute;
  top: 70px;
}
.rightSecondOptions{
  flex-direction: row-reverse;
  align-items: flex-start;
}
.leftSecondOptions{
}
.previewFunction{
  position: fixed;
  top: 57.3%;
  width: 550px;
  border-bottom: solid 9px #c1d82f;
  height: 0;
  opacity:0;
  overflow: hidden;
  transition: all linear .3s;
  box-shadow:3px 2px 10px 0px grey;
}
.previewFunctionSecond{
  position: absolute;
  top: 80.3%;
  width: 550px;
}
.gridCamp{
  transition: all .3s linear;
}
.gridCampContainer{
  position: fixed !important;
  top: 57.3%;
  height: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 330px;
  width: 550px !important;
  padding: 0px 5px !important;
  background: darken(white, 5%);
  border-bottom: solid 9px #c1d82f;
  transition: all linear .3s;
  .content{
    text-align: center;
    margin: 2px 0;
    border-radius: 2px;
    background: white;
  }
  .row{
    div{
      padding: 3px;
    }
  }
}

.secondMenuContainer{
  #containerUlSecondMenu{
    background: #FF9985;
  }
  .parallaxSecond{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    width: 100%;
    padding-left: 10px;
    padding: 10px 0;
    .optionSecondMenu{
      margin: 0 5px;
      color: #666;
      transition: all linear .1s;

      &:hover{
        color: #f2f2f2;

      }
    }
  }
  position: fixed !important;
  top: 57.3%;
  height: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 330px;
  width: 550px !important;
  background: darken(white, 5%);
  border-bottom: solid 9px #c1d82f;
  transition: all linear .3s;
  .content{
    text-align: center;
    margin: 2px 0;
    border-radius: 2px;
    background: white;
  }
  .row{
    div{
      padding: 3px;
    }
  }
}
#followerMenuContainer{
  width: 550px;
}
    //Scroll customize
    .scrollbar {
    }
    .scrollbar::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
    .scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }



//Solo para demo
    #GRIDFn{
      p{
        padding: 5px 0;
        color: #aaa;
      }
    }
