#followerMenuOptionsDeployed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 0px;
  position: fixed;
  background: #6a737b;
  top: 45.2%;
  height: 82px;
  opacity: 0;
  overflow: hidden;
  z-index: 14;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
#followerMenuOptionsDeployed #followerMenuArrow {
  position: absolute;
  margin-top: 38px;
  opacity: 0;
  z-index: -1;
  color: #f2f2f2;
  font-size: 2rem;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
.arrowLeft {
  left: 0px;
}
.arrowRight {
  right: 0px !important;
}
#borderFollowerMenu {
  position: absolute;
  height: 9px;
  width: 0;
  top: 57%;
  z-index: 2;
  opacity: 0;
  background-color: #c1d82f;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
ul#followerMenuOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 10px 0 0 0;
  width: 500px;
}
ul#followerMenuOptions li {
  padding: 8px;
  margin: 1px;
  color: #f2f2f2;
  font-size: 16px;
}
.activatetrue:before {
  content: "";
  position: absolute ;
  z-index: -1;
  left: 0 !important;
  right: 0 !important;
  bottom: -6px;
  background: #f2f2f2 !important;
  height: 6px ;
}
.leftmenu {
  left: -10px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
.rightmenu {
  right: -10px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
#followerMenuButton-left,
#followerMenuButton-right {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 85px;
  border: solid 7px #c1d82f;
  z-index: 15;
  border-radius: 50%;
  background: #FF9985;
  color: #e6e6e6;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  opacity: 0.5;
}
#followerMenuButton-left:hover,
#followerMenuButton-right:hover {
  opacity: 1;
  cursor: pointer;
}
#followerMenuButton-left {
  left: -115px;
  -webkit-box-shadow: 1px 1px 8px 0px grey;
          box-shadow: 1px 1px 8px 0px grey;
}
#followerMenuButton-right {
  right: -115px;
}
#search-menu-left {
  position: fixed;
  top: 52%;
  left: -25px;
  font-size: 1.7rem;
  opacity: .5;
  color: #FF9985;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
#search-menu-left:hover {
  font-size: 1.8rem;
  opacity: 1;
  color: #FF9985;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
  -webkit-transition: all .1s linear !important;
  transition: all .1s linear !important;
}
#login-menu-left {
  position: fixed;
  top: 45%;
  left: -25px;
  font-size: 1.7rem;
  opacity: .5;
  color: #FF9985;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
#login-menu-left:hover {
  opacity: 1;
  color: #FF9985;
  font-size: 1.8rem;
  -webkit-transition: all .1s linear !important;
  transition: all .1s linear !important;
}
#search-menu-right {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  top: 52%;
  right: -25px;
  font-size: 1.7rem;
  opacity: .5;
  color: #FF9985;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
#search-menu-right:hover {
  font-size: 1.8rem;
  opacity: 1;
  color: #FF9985;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
  -webkit-transition: all .1s linear !important;
  transition: all .1s linear !important;
}
#login-menu-right {
  position: fixed;
  top: 45%;
  margin-right: 5px;
  right: -25px;
  font-size: 1.7rem;
  opacity: .5;
  color: #FF9985;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
#login-menu-right:hover {
  opacity: 1;
  color: #FF9985;
  font-size: 1.8rem;
  -webkit-transition: all .1s linear !important;
  transition: all .1s linear !important;
}
#followerMenuOptionsDeployed.left {
  border-top-left-radius: 10px;
}
#followerMenuOptionsDeployed.right {
  border-top-right-radius: 10px;
}
.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 80px;
  visibility: visible !important;
  -webkit-box-shadow: 3px 2px 10px 0px grey;
          box-shadow: 3px 2px 10px 0px grey;
}
.left ul#followerMenuOptions {
  position: absolute;
  left: -10px;
}
.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 80px;
  visibility: visible !important;
  -webkit-box-shadow: -3px 2px 10px 0px #808080;
          box-shadow: -3px 2px 10px 0px #808080;
}
.right ul#followerMenuOptions {
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  right: 30px;
}
.rightSecondOptions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.previewFunction {
  position: fixed;
  top: 57.3%;
  width: 550px;
  border-bottom: solid 9px #c1d82f;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  -webkit-box-shadow: 3px 2px 10px 0px grey;
          box-shadow: 3px 2px 10px 0px grey;
}
.previewFunctionSecond {
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  width: 550px;
  height: 330px !important;
}
.gridCamp {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.gridCampContainer {
  position: fixed !important;
  top: 57.3%;
  height: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  max-height: 330px;
  width: 550px ;
  padding: 0px 5px !important;
  background: #f2f2f2;
  border: solid 1px #c1d82f;
  border-bottom: solid 9px #c1d82f;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
.gridCampContainer .content {
  text-align: center;
  margin: 2px 0;
  border-radius: 2px;
  background: white;
}
.gridCampContainer .row div {
  padding: 3px;
}
#secondMenuContainer {
  overflow: hidden;
  border: solid 1px #c1d82f;
  position: fixed !important;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 57.3%;
  height: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 330px;
  width: 550px;
  background: #f2f2f2;
  border-bottom: solid 9px #c1d82f;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
#secondMenuContainer .containerUlSecondMenu {
  background: white;
  border-bottom: #FF9985 solid 1px;
  right: 0;
}
#secondMenuContainer ul.parallaxSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  width: 100%;
  padding-left: 0px;
  padding: 0;
}
#secondMenuContainer ul.parallaxSecond .optionSecondMenu {
  padding: 10px 5px;
  font-family: 'oswald', sans-serif;
  font-size: 14px;
  color: #FF9985;
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
}
#secondMenuContainer ul.parallaxSecond .optionSecondMenu:hover {
  color: white;
}
#secondMenuContainer .content {
  text-align: center;
  margin: 2px 0;
  border-radius: 2px;
  background: white;
}
#secondMenuContainer .row div {
  padding: 3px;
}
#followerMenuContainer {
  width: 550px;
}
@-webkit-keyframes workteam {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes workteam {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.workTeamContainer {
  position: fixed !important;
  top: 57%;
  width: 550px;
  height: 0;
  overflow: hidden;
  border: solid 1px #c1d82f;
  background: #ccc;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  margin-left: 0;
  margin-right: 0;
  padding-right: 3px;
  opacity: 0;
  border-bottom: solid 9px #c1d82f;
}
.workTeamContainer .employedTeam {
  padding-bottom: 0;
  overflow: hidden;
}
.workTeamContainer .employedTeam img {
  position: absolute;
  top: 3px;
  bottom: 0;
  left: 3px;
  right: 3px;
}
.workTeamContainer .employedTeam .textTeam {
  position: absolute;
  left: 3px;
  right: 0px;
  bottom: 0px;
  padding-top: 3px;
  background-color: rgba(255, 153, 133, 0.9);
  text-align: center;
}
.workTeamContainer .employedTeam .textTeam h5 {
  color: #444;
  margin-bottom: 10px;
  display: inline;
  padding: 0 5px;
  -webkit-box-shadow: 0px 3px 3px 1px #e6e6e6;
          box-shadow: 0px 3px 3px 1px #e6e6e6;
  text-align: center;
}
.workTeamContainer .employedTeam .textTeam p {
  text-align: center;
  margin-bottom: 3px;
  padding-top: 3px;
}
.imagesSlideContainer {
  position: fixed !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  top: 57%;
  opacity: 0;
  width: 550px;
  height: 0;
  border: 1px solid #c1d82f;
  border-bottom: solid 9px #c1d82f;
  overflow: hidden;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
.imagesSlideContainer .fa-chevron-left {
  position: absolute;
  color: rgba(255, 255, 255, 0.65);
  top: 165px;
  left: 10px;
  z-index: 5;
}
.imagesSlideContainer .fa-chevron-right {
  position: absolute;
  color: rgba(255, 255, 255, 0.65);
  top: 165px;
  right: 10px;
  z-index: 5;
}
.imagesSlideContainer .fa-chevron-left:hover,
.imagesSlideContainer .fa-chevron-right:hover {
  color: white;
}
.imagesSlideContainer img {
  height: 321px;
  width: 550px;
}
.imagesSlideContainer .imageSlide {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.imagesSlideContainer .textSlide {
  position: absolute;
  text-align: center;
  width: 420px;
  bottom: 2rem;
  left: 65px;
  background: rgba(255, 165, 0, 0.75);
  padding: 20px 0 5px 0;
}
.shopClass {
  position: fixed;
  top: 57%;
  border: solid 1px #c1d82f;
  border-bottom: solid 9px #c1d82f ;
  width: 550px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  background-color: white;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
.shopClass .mainContainerClass {
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-template-columns: 110px 110px 110px 110px 110px;
  width: 550px;
}
.shopClass .mainContainerClass .imageBanner {
  overflow: hidden;
  width: 220px;
  height: 290px;
  max-height: 290px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.shopClass .mainContainerClass .imageBanner a {
  text-decoration: none;
}
.shopClass .mainContainerClass .imageBanner .discount {
  padding: .6rem;
  background-color: rgba(255, 0, 0, 0.45);
  color: white;
}
.shopClass .mainContainerClass .imageBanner .bannerTitle {
  margin: 110px 0 20px 0;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  border: rgba(0, 0, 0, 0.7) solid 1px;
}
.shopClass .mainContainerClass .imageBanner p {
  padding: .6rem .6rem 1.6rem;
  margin: 0;
  color: #00334e;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}
.shopClass .mainContainerClass .imageBanner p:hover {
  color: white;
}
.shopClass .mainContainerClass .tagsContainerClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 150px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.shopClass .mainContainerClass .tagsContainerClass h4 {
  color: #333333;
  font-size: 14px;
  width: 100%;
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px grey dashed;
}
.shopClass .mainContainerClass .tagsContainerClass ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 165px;
}
.shopClass .mainContainerClass .tagsContainerClass ul a {
  color: #6a737b;
  font-size: .8rem;
  margin-right: 15px;
  margin-bottom: 10px;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  text-decoration: none;
}
.shopClass .mainContainerClass .tagsContainerClass ul a:hover {
  color: black;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}
.shopClass .mainContainerClass .itemsContainerClass {
  grid-column: 3 / span 5;
  height: 50%;
  z-index: 1;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass {
  float: left;
  width: 107px;
  height: 140px;
  overflow: hidden;
  margin: 0 1px;
  border-right: solid 1px #FF9985;
  border-bottom: solid 1px #FF9985;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass:hover .pItem {
  color: black;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass .itemImage {
  max-height: 100px;
  overflow: hidden;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass img {
  height: 100px;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass .textItem {
  padding-bottom: 5px;
  z-index: 1;
  background-color: white;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass p {
  color: #4d4d4d;
  font-size: 12px;
  max-height: 16px;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass a {
  text-decoration: none;
}
.shopClass .mainContainerClass .itemsContainerClass .itemShopClass i {
  color: #db0000;
  margin-left: 10px;
  font-size: 1.2rem;
}
.shopClass .colgrid2 {
  grid-column: 1 / span 2;
}
.shopClass .colgrid3 {
  grid-column: 3 / span 5;
}
.shopClass .colgrid4 {
  grid-column: 1 / span 4;
}
.shopClass .colgrid5 {
  grid-column: 1 / span 5;
}
.shopClass .colgrid3-2 {
  grid-column: 3 / span 5;
}
.shopClass .rightBanner {
  grid-column: 4 / span 5 !important;
  grid-row: 1 / span 2 !important;
}
.shopClass .rightItem {
  grid-column: 1 / span 3 !important;
  height: 50% !important;
}
.shopClass ul.tabsClass {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column: 1 / span 5;
  width: 100%;
  border: solid 1px black;
  margin-bottom: 3px;
  padding: 0;
  background-color: white;
}
.shopClass ul.tabsClass li {
  padding: 0 5px;
  border: 1px solid black;
  overflow: hidden;
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  vertical-align: middle;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  margin-right: 1px;
}
.shopClass ul.tabsClass li:hover {
  cursor: pointer;
  color: white;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}
.shopClass ul.tabsClass li:hover::before {
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.shopClass ul.tabsClass li:before {
  content: '';
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  left: 0;
  background-color: black;
  width: 0;
  z-index: -1;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  height: 26px;
}
.contactClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  opacity: 1;
  height: 0;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
  top: 57%;
  border: solid 1px #c1d82f;
  background-color: black;
  border-bottom: 7px solid #c1d82f;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  z-index: 0;
  opacity: 0;
}
.contactClass form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: rgba(255, 255, 255, 0.6);
  padding: 0 8px 8px 8px;
  border-left: 2px solid #ff846b;
}
.contactClass form input,
.contactClass form textarea {
  border-top: 0;
  border-right: 0;
  border-bottom: 3px solid #c1d82f;
  border-left: 3px solid transparent;
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
.contactClass form input:focus,
.contactClass form textarea:focus {
  border-bottom: 3px solid #ff7f66;
  border-left: 3px solid #ff8c76;
}
.contactClass form #reset {
  float: left;
}
.contactClass form #reset:hover {
  border-bottom: 3px solid #cc0000;
  border-left: 3px solid #e60000;
}
.contactClass form button,
.contactClass form button:focus,
.contactClass form button:visited,
.contactClass form button:active {
  float: right;
  margin: 0;
  padding: 5px;
  border-right: 0;
  border-top: 0;
  border-bottom: 3px solid #c1d82f;
  border-left: 3px solid transparent;
  background-color: transparent;
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.contactClass form button:hover,
.contactClass form button:focus:hover,
.contactClass form button:visited:hover,
.contactClass form button:active:hover {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
  background-color: #cccccc;
  color: #595959;
  border-bottom: 3px solid #ff7f66;
  border-left: 3px solid #ff8c76;
}
.contactClass form h6 {
  text-align: center;
  top: 0;
  background: rgba(255, 136, 113, 0.94);
  color: #f2f2f2;
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding: 10px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.contactClass #map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: 2px solid #ff846b;
  background: white;
}
.contactClass #map #textMap {
  position: absolute;
  width: 260px;
  height: 90px;
  bottom: 0;
  padding-top: 5px;
  margin-left: 6px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgba(219, 105, 84, 0.85);
}
.contactClass #map #textMap ul {
  list-style: none;
}
.contactClass #map #textMap ul li {
  color: white;
}
.contactClass #map #textMap ul li i {
  margin-right: 10px;
}
.contactClass #map img {
  z-index: -1;
}
#GRIDFn p {
  padding: 5px 0;
  color: #aaa;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle ;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent ;
          box-shadow: 0 0 1px transparent ;
  position: relative ;
  overflow: hidden ;
  -webkit-transition-property: color ;
  transition-property: color ;
  -webkit-transition-duration: 0.3s ;
          transition-duration: 0.3s ;
}
.hvr-radial-out:before {
  content: "";
  position: absolute ;
  z-index: -1;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  bottom: 0 ;
  background: #ff846b;
  border-radius: 100% ;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform ;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s ;
          transition-duration: 0.3s ;
  -webkit-transition-timing-function: linear ;
          transition-timing-function: linear ;
}
.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white ;
}
.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
          transform: scale(2);
}
/* Underline From Center */
.hvr-underline-from-center {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -6px;
  background: #f2f2f2;
  height: 6px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255, 153, 133, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(255, 153, 133, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover,
.hvr-back-pulse:focus,
.hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
          animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-color: #FF9985;
  color: white;
}
.scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
